.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.cardItem {
  width: 300px;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--textColor);
  color: var(--backgroundColor);

  img {
    width: 100%;
  }

  h3 {
    color: var(--blueColor);
  }

  p:first-of-type {
    font-style: italic;
    font-size: 0.8rem;
  }
}
