@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
  --mainFont: "Roboto", sans-serif;
  --titleFont: "Montserrat", sans-serif;
  --blueColor: #071e66;
  --globalBackgroundColor: #121212;
  --globalTextColor: #f9f9f9;
  --secondaryBackgroundColor: #f9f9f9;
  --secondaryTextColor: #121212;
  --headerBackground: #f9f9f9;
  --headerTextColor: #121212;
  --spacingXS: 1rem;
  --spacingS: 2rem;
  --spacingM: 3rem;
  --spacingL: 4rem;
  --spacingXL: 5rem;
  --spacingXXL: 6rem;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Global Styles */
html,
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: var(--mainFont);
  background-color: var(--globalBackgroundColor);
  color: var(--globalTextColor);
  line-height: 1.6;
  height: 100vh;
  width: 100vw;
}

main {
  padding: var(--spacingS) var(--spacingM);
  min-height: calc(100dvh - 162px);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--titleFont);
}
